.page[data-v-108cc86b]{max-width:960px;margin:auto;padding:2em}.heading[data-v-108cc86b]{font-size:22px;color:var(--color-heading);margin:0}.links[data-v-108cc86b]{display:flex;flex-direction:column}
