.slide-up-enter-active,
.slide-up-leave-active {
  opacity: 1;
  overflow: hidden;
  transition: all .4s ease;
}
.slide-up-enter-from,
.slide-up-leave-to {
  transform: translateY(100vh);
  opacity: 0;
}

.slide-down-enter-active,
.slide-down-leave-active {
  opacity: 1;
  overflow: hidden;
  transition: all .4s ease;
}
.slide-down-enter-from,
.slide-down-leave-to {
  transform: translateY(-100vh);
  opacity: 0;
  pointer-events: none;
}

.drop-down-enter-active,
.drop-down-leave-active {
  opacity: 1;
  overflow: hidden;
  transition: transform .2s ease, opacity .2s ease;
  transform-origin: top center;
}
.drop-down-enter-from,
.drop-down-leave-to {
  transform: scaleY(0%);
  opacity: 0;
  pointer-events: none;
}

.swipe-paper-enter-active,
.swipe-paper-leave-active {
  z-index: 1;
  transition: all .4s ease-in-out;
}
.swipe-paper-enter-active {
  transition-delay: .56s;
}
.swipe-paper-enter-from,
.swipe-paper-leave-to {
  position: absolute;
  top: 0;
  pointer-events: none;
  opacity: 0.5;
}
.swipe-paper-enter-from {
  z-index: 2;
  transform: rotateY(90deg) rotateZ(0);
}
.swipe-paper-leave-to {
  z-index: 1;
  transform: rotateY(-90deg) rotateZ(0);
}
